# Other pip dependencies
easydict
nbconvert
plyfile
numba
tensorboard
ninja
glfw
imageio
imageio-ffmpeg
lpips
tqdm
opencv-python
matplotlib
click
scipy
pyopengl
freetype-py
wheel 
setuptools

# Other libraries
lib/cf_base
lib/simple-knn
lib/diff-isogaussian-rasterization
